<style scoped>
    .container {
        margin: auto;
    }
</style>
<template>
    <div class="container">
        <div class="content">
            <Timeline />
        </div>
    </div>
</template>

<script>
import Timeline from '../components/Timeline.vue'

export default {
    name: 'EscalaView',
    components: {  // Corrected property name from 'component' to 'components'
        Timeline,
    },
    mounted() {
        this.$store.dispatch('carregarMembros');
        this.$store.dispatch('carregarEventos');
        this.$store.dispatch('carregarEscalas');
        this.$store.dispatch('carregarEscalados');
    },
}
</script>
