<template>
  <div class="container">
    <div class="content">
      <MembroSelect />
      <EventoSelect />
    </div>
  </div>
</template>

<style scoped>
  .container {
    margin:auto !important;
  }
</style>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Timeline from '@/components/Timeline.vue'
import MembroSelect from '@/components/MembroSelect.vue'
import EventoSelect from '@/components/EventoSelect.vue'

export default {
  
  name: 'HomeView',
  components: {
    HelloWorld,
    Timeline,
    MembroSelect,
    EventoSelect,
  },
  data() {
    return {

    };
  },
  mounted() {
    this.$store.dispatch('carregarMembros');
    this.$store.dispatch('carregarEventos');
    this.$store.dispatch('carregarEscalas');
    this.$store.dispatch('carregarEscalados');
  },
  methods: {

  },

}
</script>
