<template>
    <div class="container">
        <div class="content">
            <el-select
                v-model="value"
                class="m-2"
                placeholder="Select"
                size="large"
                filterable
            >
                <el-option
                    v-for="evento in $store.state.eventos"
                    :key="evento.id"
                    :label="evento.display_name"
                    :value="evento.id"
                />
            </el-select> 
        </div>
    </div>
</template>

<script>
export default {
    name: 'EventoSelect',
    props: ['eventos']
}
</script>