<template>
    <div class="container">
        
        <div class="content">
            <el-select
                v-model="value"
                class="m-2"
                placeholder="Select"
                size="large"
                filterable
            >
                <el-option
                    v-for="membro in $store.state.membros"
                    :key="membro.id"
                    :label="membro.nome"
                    :value="membro.id"
                />
            </el-select> 
        </div>
    </div>
</template>

<script>
export default {
    name: "MembroSelect",
    props: ['membros']
}
</script>