<template>
    <div>
        <el-radio-group v-model="isCollapse" style="margin-bottom: 20px">
            <el-icon 
                size="20px" 
                color="black" 
                v-model="isCollapse" 
                @click="handleMenu"
                style="padding: 20px 20px 0 20px;"
            >
                <Expand />
            </el-icon>
        </el-radio-group>
     
        <el-menu default-active="2" class="el-menu-vertical-demo" :collapse="isCollapse" @open="handleOpen"
            @close="handleClose">
            
            <el-menu-item index="1">
                <el-icon ><House /></el-icon>
                
                <template #title ><router-link to="/">Inicio</router-link></template>
            </el-menu-item>
            <el-menu-item index="2">
                <el-icon>
                    <document />
                </el-icon>
                <template #title>Criar Escala</template>
            </el-menu-item>
            <el-menu-item index="3">
                <el-icon>
                    <calendar />
                </el-icon>
                <template #title><router-link to="/escala">Ver Escala</router-link></template>
            </el-menu-item>
        </el-menu>
    </div>
</template>

<script>
export default {
    name: 'Menu',
    data(){
        return {
            isCollapse: false
        }
    },
    methods: {
        handleMenu(){
            this.isCollapse = !this.isCollapse
        }
    }
}
</script>

<style>
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}
</style>
