<template>
    <div class="container">

        <div class="content">
            <el-timeline>
                <el-timeline-item v-for="escala in $store.state.escalas" :key="escala.id" :timestamp="escala.data" placement="top" color="#0bbd87">
                    <el-card >
                    <h3>{{ escala.evento_da_semana.display_name }} às {{ escala.horario }}</h3>
                        <div>
                            <p v-show="escala.dirigente == 1" >
                                Dirigentes: 
                                <span 
                                    v-for=" escalados in $store.state.escalados"
                                    :key="escalados.id"
                                    v-show="escalados.funcao_id == 1 && escalados.escala_id == escala.id"
                                >
                                    {{ escalados.membro.cargo.sigla }} {{ escalados.membro.nome }},
                                </span>
                            </p>
                            <p v-show="escala.professor == 1 ">
                                Professores: 
                                <span 
                                    v-for=" escalados in $store.state.escalados"
                                    :key="escalados.id"
                                    v-show="escalados.funcao_id == 3 && escalados.escala_id == escala.id"
                                >
                                    {{ escalados.membro.cargo.sigla }} {{ escalados.membro.nome }},
                                </span>
                            </p>
                            <p v-show="escala.porteiro == 1">
                                Porteiros: 
                                <span 
                                    v-for=" escalados in $store.state.escalados"
                                    :key="escalados.id"
                                    v-show="escalados.funcao_id == 2 && escalados.escala_id == escala.id"
                                >
                                    {{ escalados.membro.cargo.sigla }} {{ escalados.membro.nome }},
                                </span>
                            </p>
                            <p v-show="escala.convocado == 1">
                                <span 
                                    v-for=" escalados in $store.state.escalados"
                                    :key="escalados.id"
                                    v-show="escalados.funcao_id == 4 && escalados.escala_id == escala.id"
                                >
                                    {{ escalados.membro.cargo.sigla }} {{ escalados.membro.nome }},
                                </span>
                            </p>
                        </div>
                        <div >
                            
                        </div>

                    </el-card>
                </el-timeline-item>
            </el-timeline>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Timeline',
}
</script>

<style scoped>

</style>