<template>
  <div style="display: flex;">
    <Menu v-show="user" />
    <router-view />
  </div>
</template>


<script>

import Menu from '@/components/Menu.vue'

export default {
  components: {
    Menu,
  },
  data() {
    return {
      user: true,
    }
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

  *{
    font-family: 'Roboto', sans-serif;
  }

  .el-timeline {
    padding: 0px;
  }
</style>
